[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=PROGRAM_NAME_IN_MENU - Open Folder
Comment=
GenericName=

Icon=PATH_TO_FOLDER/icon-open-folder.png
Exec=PATH_TO_FOLDER/open-folder
TryExec=PATH_TO_FOLDER/open-folder
Path=PATH_TO_FOLDER
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=UNIQUE_APP_FOLDER_NAME
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
#GenericName[ru]=
#Comment[ru]=

# - ------------- - #
# - Actions Begin - #

#Actions=Act;

#[Desktop Action Act]
#Name=Acttion Template
#Exec=thunar

# -  Actions End  - #
# - ------------- - #
